@import './styles/theme.css';

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
  transition: background-color var(--transition-base), color var(--transition-base);
}
